<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boa.cashfilm.mapper.CompanyMapper">
	<!--회사개설신청이메일 또는  회사별권한승인여부를 가진 회원이 회사부서등록  -->
	<!--회사개설신청이메일 또는  회사별권한승인여부를 가진 회원이 회사직급등록  -->
	<!--회사코드를 기준으로 회사별권한승인여부 조회  -->
	
	<!--회사코드를 기준으로 회사개설신청 이메일 조회  -->

	<!--회사 부서 등록  -->
	<insert id="comSectionRegistration" parameterType="com.boa.cashfilm.company.dto.ComSection">
		INSERT INTO 
			cfcomsection(
			comCode
			,comSectionName
		)VALUES(
			#{comCode}
			,#{comSectionName}
		)
	</insert>
	
	<!--회사 부서 조회  -->
	<select id="comSectionList" parameterType="java.util.List" resultType="java.util.Map">
	SELECT 
		comSectionCode
		,comSectionName
	FROM
		cfcomsection
	WHERE
		comCode=#{comCode}
	</select>
	<!--회사 부서 수정  -->
	<!--회사 부서 삭제  -->
	<!--회사 직급 등록  -->
	<!--회사 직급 조회  -->
	<!--회사 직급 수정  -->
	<!--회사 직급 삭제  -->
	<!-- 기업회원 부서 등록을 위한 조회  -->
	<select id="comSectionListBeforeApproval" parameterType="java.util.List" resultType="java.util.Map">
	SELECT
		comau.memberEmail
		,mem.memberName
	FROM
		cfcomauthority AS comau
	INNER JOIN
		cfmemberemail AS mem
	ON
		comau.memberEmail=mem.memberEmail
	WHERE
		comau.comCode=#{comCode}
	AND
		comSectionCode IS NULL

	</select>
	<!--기업회원 부서 등록  -->
	<!--기업회원 부서 조회  -->
	<!--기업회원 부서 수정  -->
	<!--기업회원 부서 삭제  -->
	<!--기업회원 직급 등록전 조회  -->
	<select id="comPositionListBeforeApproval" parameterType="java.util.List" resultType="java.util.Map">
	SELECT
		comau.memberEmail
		,mem.memberName
	FROM
		cfcomauthority AS comau
	INNER JOIN
		cfmemberemail AS mem
	ON
		comau.memberEmail=mem.memberEmail
	WHERE
		comau.comCode=#{comCode}
	AND
		comPositionCode IS NULL
	AND
		comSectionCode IS NOT NULL

		
	</select>
	<!--기업회원 직급 등록  -->
	<!--기업회원 직급 조회  -->
	<!--기업회원 직급 수정  -->
	<!--기업회원 직급 삭제  -->
	<!--회사체계변경 권한을 가진 회원이 회사권한승인  2(회사별권한여부 테이블에 회사별권한여부 0->1,회사별권한승인일,회사별승인이메일 update )-->
 	<update id="comAuthorityApprovalByAuthority" parameterType="java.util.Map">
	UPDATE 
		cfcomauthority
	SET 
		comAuthorityApproval=1
		
		,comAuthorityApprovalDay=now()
		,comAuthorityApprovalEmail=#{memberEmailApproval}
	WHERE 
		cfcomauthority.memberEmail=#{memberEmail};
	
	</update> 
	<!--회사체계변경 권한을 가진 회원이 회사권한승인  1(memberEmail테이블에 회원구분코드 기업회원으로 변경,회사코드 생성)-->
	<update id="comAuthorityApprovalByMember" parameterType="com.boa.cashfilm.member.dto.MemberSimple">
	UPDATE 
		cfmemberemail
	SET 
		comCode=#{comCode}
		,memberClassificationCode=2
	WHERE 
		memberEmail=#{memberEmail};
	</update>
	<!--개인회원이 회사승인 요청 후 회사체계변경가능자가 승인요청 조회  -->
	<select id="comAuthorityApprovalList" parameterType="java.util.List" resultType="java.util.Map" >
	SELECT DISTINCT
		mem.memberEmail
		,mem.memberName
		,coma.comAuthorityApproval
		,coma.comCode
	FROM cfcomauthority AS coma
	LEFT JOIN  cfmemberemail AS mem
	ON
		mem.memberEmail=coma.memberEmail
	WHERE 
		coma.comCode=#{comCode}
	AND
		coma.comAuthorityApproval=0;
	</select>
	
	<!--회사별 거래처 조회  -->
	<select id="comCustomerList" parameterType="int" resultType="com.boa.cashfilm.company.dto.ComCustomer">
	SELECT
		customerCode
		,comCode
		,customerNumber
		,customerCeo
		,customerName
		,customerAddress
		,customerPhone
		,customerCreditNumber
		,customerContactNumber
		,customerCategory
		,customerRemarks
	FROM
		cfcustomer
	WHERE
		comCode=#{comCode};
	</select>	
	<!--회사별 거래처 등록  -->
	<insert id="comCustomerRegistration" parameterType="com.boa.cashfilm.company.dto.ComCustomer">
	INSERT INTO 
		cfcustomer(
		comCode
		,customerNumber
		,customerCeo
		,customerName
		,customerAddress
		,customerPhone
		,customerCreditNumber
		,customerContactNumber
		,customerCategory
		,customerRemarks
	)VALUES(
		#{comCode
		}
		,#{customerNumber}
		,#{customerCeo}
		,#{customerName}
		,#{customerAddress}
		,#{customerPhone}
		,#{customerCreditNumber}
		,#{customerContactNumber}
		,#{customerCategory}
		,#{customerRemarks}
	);	
	</insert>	
	<!--자신의 회사 정보 권한 조회(회사정보수정은 회사별권한승인여부의 값으로 판단한다)  -->
	<select id="selectComAuthorityApproval" parameterType="java.util.Map" resultType="int">
	SELECT
		comAuthorityApproval
	FROM
		cfcomauthority
	WHERE
		memberEmail=#{memberEmail}
	AND
		comCode=#{comCode}	
	</select>
	<!--자신의 회사 정보 조회  -->
	<select id="comInfo" parameterType="java.util.List" resultType="com.boa.cashfilm.company.dto.Company">
	SELECT
		comCode
		,comName
		,comRegistrationNumber
		,comWebPage
		,comCeoName
		,comInfo
		,comLogoName
		,comLogoOriginalName
		,comIntroduction
		,comPhone
		,memberEmail
		,comRegistrationRequestDay
		,managerApproval
		,managerApprovalDay
		,managerApprovalEmail
		,comIndustry
		,comCondition
	FROM
		cfcombaseinfo
	WHERE
		comCode=#{comCode};		
	</select>
	<!--개인회원이  회사소속으로 승인요청  -->
	<insert id="comApprovalByIndividual" parameterType= "java.util.Map" >
	INSERT INTO
		cfcomauthority(
		comCode
		, memberEmail
	)VALUES(
		#{comCode}
		, #{memberEmail}
	)
	</insert>
	
	<!--개인회원이 승인된 전채 화사 조회  -->
	<select id="comListByIndividual" parameterType="int" resultType="com.boa.cashfilm.company.dto.ComListByIndividual">
	SELECT
		 comCode
		 , comName
		 , comCeoName
		 , comRegistrationNumber
		 , comInfo
		 , comAddress
		 , comPhone
		 , comIndustry
	FROM 
		cfcombaseinfo
	WHERE 
		managerApproval = 1
	ORDER BY comName ASC			
	</select>
	<!--cashfilm 관리자 권한으로 회사 승인  -->
	
	
	<!--cashfilm 관리자 권한으로 승인 전 회사 검색  -->
	<select id="comListBeforeApproval" parameterType="int" resultType="com.boa.cashfilm.company.dto.Company">
	SELECT
		 comCode
		 , comName
		 , comRegistrationNumber
		 , comWebPage
		 , comCeoName
		 , comInfo
		 , comIntroduction
		 , comAddress
		 , comPhone
		 , memberEmail
		 , comRegistrationRequestDay
		 , managerApproval
		 , managerApprovalDay
		 , managerApprovalEmail
		 , comIndustry
		 ,comCondition		 
	FROM 
		cfcombaseinfo
	WHERE 
		managerApproval = 0
	ORDER BY comName ASC	
	</select>
	<!--insert 회사 기본정보 등록 요청  -->
	<insert id="insertCompanyBaseInfo" parameterType="com.boa.cashfilm.company.dto.InsertCompanyBaseInfo">
	INSERT INTO 
		cfComBaseInfo (
		comName
		, comRegistrationNumber
		, comWebPage
		, comCeoName
		, comInfo
		, comIntroduction
		, comAddress
		, comPhone
		, memberEmail
		, comRegistrationRequestDay
		, comIndustry
		, comCondition
	) VALUES (
		#{comName}
		, #{comRegistrationNumber}
		, #{comWebPage}
		, #{comCeoName}
		, #{comInfo}
		, #{comIntroduction}
		, #{comAddress}
		, #{comPhone}
		, #{memberEmail}
		, now()
		, #{comIndustry}
		, #{comCondition}
	)
	</insert>	
	<!--update 회사 등록 요청 (cashfilm 관리자에게 등록 요청)  -->
<!-- 	<update id="updateCompanyManagerApproval" parameterType="com.boa.cashfilm.company.dto.Company">
	UPDATE 
		cfcombaseinfo
	SET
		managerApproval = 1
		, managerApprovalDay = NOW()
		, managerApprovalEmail = #{}
	WHERE 
		comCode = #{}
	</update> -->
</mapper>