<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boa.cashfilm.mapper.memberMapper">
	<!-- 로그인 -->
	<select id="selectSignIn" parameterType="com.boa.cashfilm.member.dto.EmailAndPassword" resultType="com.boa.cashfilm.member.dto.MemberSimple">
		SELECT
			memberEmail
			, memberClassificationCode
			, comCode
			, memberName
			, memberPassword
			, memberCondition
		FROM cfmemberemail
		WHERE memberEmail = #{memberEmail} AND memberPassword = #{memberPassword}
	</select>
</mapper>