<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boa.cashfilm.mapper.cashfilmMapper">
	
	<!--회사 적요 등록 -->
	<insert id="insertComContent" parameterType="com.boa.cashfilm.syscom.dto.ComContent">
		INSERT 
		INTO cfcomcontent (
			<if test="comSubjectNumeral!=0">
			comSubjectNumeral</if>
			<if test="userComSubjectCode!=0"> 
			userComSubjectCode</if>
			,comContentName 
			,comCode 
			,memberEmail 
			,comContentRegistrationDay) 
		VALUES(<if test="comSubjectNumeral!=0">
			#{comSubjectNumeral}</if>
			<if test="userComSubjectCode!=0">
			#{userComSubjectCode}</if>
			,#{comContentName}
			,#{comCode}
			,#{memberEmail}
			,now()
		);
	</insert>

	<!--회사 사용자 계정과목 삭제  -->
	<delete id="deleteUComSubject" parameterType="com.boa.cashfilm.syscom.dto.UserComSubject">
		DELETE FROM cfusercomsubject WHERE userComSubjectCode=#{userComSubjectCode};
	</delete>
	
	<!--회사 사용자 계정과목 수정  -->
	<update id="updateUComSubject" parameterType="com.boa.cashfilm.syscom.dto.UserComSubject">
		UPDATE cfusercomsubject
		SET comSystemNumeral = #{comSystemNumeral}
			,comCode = #{comCode}
			,userComSubjectName = #{userComSubjectName}
			,memberEmail = #{memberEmail}
			,userComSubjectNumeral = #{userComSubjectNumeral}
		WHERE userComSubjectCode=#{userComSubjectCode};
	</update>
	
	<!--회사 사용자 계정과목 수정을 위한 검색  -->
	<select id="selectOneUComSubject" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.UserComSubject">
		SELECT  userComSubjectCode
			,comSystemNumeral
			,comCode,userComSubjectName
			,memberEmail
			,userComSubjectNumeral 
		FROM cfusercomsubject 
		WHERE userComSubjectCode=#{userComSubjectCode}
	</select>
	

	<!--회사 사용자 계정과목 검색  -->
	<select id="selectUComSubject" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.ComSystemAndUSubject">
		SELECT uc.userComSubjectCode
			,s.comSystemNumeral
			,s.comSystemName
			,uc.comCode
			,uc.userComSubjectName
			,uc.memberEmail
			,uc.userComSubjectNumeral 
		FROM cfusercomsubject AS uc 
		INNER JOIN cfcomsystem AS s 
		ON uc.comSystemNumeral = s.comSystemNumeral 
		WHERE uc.comCode = #{comCode};
	</select>
	
	<!--회사 사용자 계정과목 등록 -->
	<insert id="insertUComSubject" parameterType="com.boa.cashfilm.syscom.dto.UserComSubject">
		INSERT 
		INTO cfusercomsubject(
			comSystemNumeral
			,comCode
			,userComSubjectName
			,memberEmail
			,userComSubjectNumeral) 
		VALUES (#{comSystemNumeral}
			,#{comCode}
			,#{userComSubjectName}
			,#{memberEmail}
			,#{userComSubjectNumeral});
	</insert>
	
	<!--회사 계정과목 삭제  -->
	<delete id="deleteComSubject" parameterType="com.boa.cashfilm.syscom.dto.ComSubject">
		DELETE FROM cfcomsubject WHERE comSubjectNumeral = #{comSubjectNumeral};
	</delete>
	
	<!--회사 계정과목 수정  -->
	<update id="updateComSubject" parameterType="com.boa.cashfilm.syscom.dto.ComSubject">
		UPDATE cfcomsubject 
		SET comSubjectName = #{comSubjectName}
		WHERE comSubjectNumeral = #{comSubjectNumeral} 
	</update>
	
	<!--회사 계정과목 수정을 위한 검색  -->
	<select id="selectOneComSubject" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.ComSubject">
		SELECT comSubjectNumeral
			,comSystemNumeral
			,comSubjectName
		FROM cfcomsubject 
		WHERE comSubjectNumeral=#{comSubjectNumeral}
	</select>
	
	<!--회사 계정과목별 키워드 검색  -->
	<select id="selectOneComSubjectofsub" parameterType="String" resultType="com.boa.cashfilm.syscom.dto.ComSubject">
		SELECT comSystemNumeral
			,comSubjectNumeral
			,comSubjectName 
		FROM cfcomsubject
		WHERE comSubjectName like CONCAT('%',#{comSubjectName},'%')
		ORDER BY comSubjectNumeral ASC
	</select>
	
	<!--회사 계정체계별 검색  -->
	<select id="selectOneComSubjectofsys" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.ComSystemAndSubject">
		SELECT csm.comSystemNumeral
			,csm.comSystemName
			,cst.comSubjectNumeral
			,cst.comSubjectName 
		FROM cfcomsubject AS cst 
		INNER JOIN cfcomsystem AS csm 
		ON cst.comSystemNumeral = csm.comSystemNumeral
		WHERE cst.comSystemNumeral = #{comSystemNumeral}
		ORDER BY csm.comSystemNumeral ASC
	</select>
	
	
	<!--회사계정과목 검색  -->
	<select id="selectAllComSubject" resultType="com.boa.cashfilm.syscom.dto.ComSystemAndSubject">
		SELECT csm.comSystemNumeral
			,csm.comSystemName
			,cst.comSubjectNumeral
			,cst.comSubjectName 
		FROM cfcomsubject AS cst 
		INNER JOIN cfcomsystem AS csm 
		ON cst.comSystemNumeral = csm.comSystemNumeral 
		ORDER BY csm.comSystemNumeral ASC
	</select>
	
	<!--회사 계정과목 등록 -->
	<insert id="insertComSubject" parameterType="com.boa.cashfilm.syscom.dto.ComSubject">
		INSERT 
		INTO cfcomsubject(
			comSubjectNumeral
			,comSystemNumeral
			,comSubjectName) 
		VALUES (#{comSubjectNumeral},#{comSystemNumeral},#{comSubjectName});
	</insert>
	
	<!--회사 계정체계 삭제 -->
	<delete id="deleteComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		DELETE FROM cfcomsystem 
		WHERE comSystemNumeral =#{comSystemNumeral}
	</delete>
	
	<!--회사 계정체계 수정  -->
	<update id="updateComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		UPDATE cfcomsystem 
		SET comSystemName =#{comSystemName} 
		WHERE comSystemNumeral =#{comSystemNumeral}
	</update>
	
	<!--회사 계정체계 수정을 위한 검색 -->
	<select id="selectOneComSystem" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.ComSystem">
		SELECT comSystemNumeral
			,comSystemName 
		FROM cfcomsystem
		WHERE comSystemNumeral=#{comSystemNumeral}
	</select>
		
	<!--회사 계정체계 검색  -->
	<select id="selectAllComSystem" resultType="com.boa.cashfilm.syscom.dto.ComSystem">
		SELECT comSystemNumeral
			,comSystemName 
		FROM cfcomsystem
	</select>
	
	<!--회사계정체계 등록 -->
	<insert id="insertComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		INSERT
		INTO cfcomsystem(comSystemName) 
		VALUES (#{comSystemName});
	</insert>
</mapper>