<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boa.cashfilm.mapper.cashfilmMapper">
	
	<!--회사 계정체계 삭제 -->
	<delete id="deleteComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		DELETE FROM cfcomsystem 
		WHERE comSystemNumeral =#{comSystemNumeral}
	</delete>
	
	<!--회사 계정체계 수정  -->
	<update id="updateComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		UPDATE cfcomsystem 
		SET comSystemName =#{comSystemName} 
		WHERE comSystemNumeral =#{comSystemNumeral}
	</update>
	
	<!--회사 계정체계 수정을 위한 검색 -->
	<select id="selectOneComSystem" parameterType="int" resultType="com.boa.cashfilm.syscom.dto.ComSystem">
		SELECT comSystemNumeral
			,comSystemName 
		FROM cfcomsystem
		WHERE comSystemNumeral=#{comSystemNumeral}
	</select>
		
	<!--회사 계정체계 검색  -->
	<select id="selectAllComSystem" resultType="com.boa.cashfilm.syscom.dto.ComSystem">
		SELECT comSystemNumeral
			,comSystemName 
		FROM cfcomsystem
	</select>
	
	<!--회사계정체계 등록 -->
	<insert id="insertComSystem" parameterType="com.boa.cashfilm.syscom.dto.ComSystem">
		INSERT
		INTO cfcomsystem(comSystemName) 
		VALUES (#{comSystemName});
	</insert>
</mapper>